*{
  padding:0;
  margin: 0;
  box-sizing: border-box;

}

body{
  height: 100vh;
  background: linear-gradient(
    #8D7B68,
    #F1DEC9
  )0 100% no-repeat;
  background-size: 100% 50%;
}
.container{
  width: 400px;
  padding: 50px;
  border: 1px solid #8D7B68;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-color:  #ffff;
  box-shadow: 0 15px 35px;
}